<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="shortcut icon" href="./sunny weather.ico" type="image/x-icon">
    <title>WTWL?</title>
</head>

<body>
    <div id="app">
        <div v-show="isMobile" id="mobile">
            <header>
                <h1 class="time">{{time}}</h1>
                <p class="city">{{city}}</p>
            </header>
            <div class="current-weather">
                <div class="icon"><img src="" alt="" class="current-icon"></div>
                <h1 class="current-temp">{{currentTemp}}</h1>
            </div>
            <div class="forecast-weather">
                <div v-for="day in forecast.slice(0, 4)" :key="day.date">
                    <div class="mini day">
                        <p>{{day.weekday}}</p>
                    </div>
                    <div class="mini mini-img"><img :src="'./weather-vector-icons/'+day.icon+'.svg'" alt=""></div>
                    <div class="forecast">
                        <p>{{day.temp}}°</p>
                    </div>
                </div>
            </div>
        </div>


        <div id="desktop" v-show="isDesktop">
            <div class="desktop-content">
                <div class="desktop-header">
                    <p class="desktop-city">{{city}}</p>
                    <div class="desktop-current-weather">
                        <img src="" alt="" class="desktop-icon">
                        <h1 class="desktop-current-temp ">{{currentTemp}}</h1>
                    </div>
                    <h2 class="desktop-description">{{description}}</h2>
                    <div class="secondary-stat">
                        <p>Humidité: &nbsp {{humidity}} %</p>
                        <p>Vent: &nbsp {{wind}} km/h</p>
                    </div>
                    <div class="temp-stat">
                        <p>Min: &nbsp {{minTemp}}°</p>
                        <p>Ressenti: &nbsp {{feelsTemp}}°</p>
                        <p>Max: &nbsp {{maxTemp}}°</p>
                    </div>
                </div>

                <div class="canvas-size">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>

                <div class="desktop-forecast-weather">
                    <h3>Cette Semaine:</h3>
                    <div class="desktop-forecast-grid">
                        <div v-for="day in forecast" :key="day.date" class="desktop-forecast desktop-forecast-grid-content">
                            <h4>{{day.date}}</h4>
                            <div class="desktop-img-frame">
                                <img :src="'./weather-vector-icons/'+day.icon+'.svg'" alt="" class="desktop-forecast-img">
                            </div>
                            <div class="all-range-temp desktop-forecast0-temp">
                                <h4 class="approximate-temp0">{{day.temp}}°</h4>
                                <p class="range-temp0">{{day.minTemp}}° / {{day.maxTemp}}°</p>
                            </div>
                            <p class="desktop-description-forecast0">{{day.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

</body>
</html>